.modal {
  position: fixed;
  z-index: 5;

  .taskForm {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    position: fixed;

    input,
    select {
      width: 50%;
      padding: 12px;
      border: none;
      border-bottom: 2px solid #ddd;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      font-family: Arial, sans-serif;

      &:focus {
        border-color: #3498db;
      }

      &:invalid:hello {
        border: 2px solid red;
      }
    }

    input[type="date"] {
      appearance: none;
      padding-right: 30px;
    }

    select {
      background-image: url("down-arrow-icon.png");
      background-repeat: no-repeat;
      background-position: right center;
    }

    .btn {
      background-color: #3498db;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      padding: 5px;
      width: 70px;
      font-size: 12px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &.submit {
        &:hover {
          background-color: green;
        }
      }

      &.cancel {
        &:hover {
          background-color: red;
        }
      }
    }
    button.close {
      position: absolute;
      padding: 5px;
      right: 0;
      top: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 1;
}
